.card6-main{
    bottom: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 46%;
}

.card6-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card6-texts p{
    font-size: 21px;
    font-family: Sofia-Light;
    color: #222222;
    line-height: 27px;
}

.card6-texts-child{
    display: flex;
    flex-direction: column;
   
}

.card6-texts-child p:nth-child(2) {
    font-size: 15px !important;
    font-family: Sofia-Light;
    color: #222222;
}

.card6-texts-child span{
    font-size: 21px !important;
    font-family: Sofia-Light;
    color: #222222;
    font-weight: 600;
}

.card6 input{
    position: relative;
    bottom: 10px;
}


@media screen and (max-width: 768px){
    .card6-main{
        bottom: 10%;
        width: 89%;
    }

    
}