
.fade-in {
 animation: FadeIn 0.4s;
    
}

@keyframes FadeIn {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}


.card1-main{
    bottom: 5%;
    position: relative;
    width: 700px;
}

.card1-main-texts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card1-main-texts p {
    line-height: 28px;
    color: #222222;
    font-family: Sofia-Light;
    font-weight: 500;
    font-size: 21px;
}



.card1 span{
    font-weight: 800;
   
   
}

.card1 h2{
    margin-top: 7px;
    color: #222222;
    font-family: Sofia-Light;
    font-weight: 500;
    font-size: 15px;
}


.nameİnput {
    background-color: #F1F3F7;
    font-weight: 100;
    margin-top: 14px;
    display: flex;
    font-family: Sofia-Semibold;
    color: rgb(20, 43, 111);
    font-size: 23px;
    text-decoration: none;
    height: 32px;
    width: 700px;
    border: none;
    border-bottom: solid 3px rgb(254, 254, 254);
}

.nameİnput::placeholder {
    font-family: Sofia-Light;
    color: rgb(128, 128, 128);
    font-weight: 200;
    position: relative;
    bottom: 6px;
  }
.nameİnput:focus {
    outline: none;
}

.nameİnput:focus {
    text-decoration: none;
    border: none;
    border-bottom: solid 1px rgba(9, 9, 25, 0.726);
}





@media screen and (max-width: 601px) {

    
    
    .card1-main {
        bottom: 15%;
        position: relative;
        width: 92%;
    }

   
    
  .card1-main-texts p {
      font-size: 19px;
  }

    .card1 .nameİnput {
        margin-top: 15px;
        display: flex;
        font-family: Sofia-Semibold;
        color: rgb(20, 43, 111);
        font-size: 23px;
        text-decoration: none;
        height: 32px;
        width: 350px;
        border: none;
        border-bottom: solid 3px rgba(184, 182, 185, 0.329);
        
    }

  
}


