.logos {
   margin-top: 35px;
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 50px;
 
 
}


.logo1 {
background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/36f0d72a-f7f0-45cd-b2fd-4b7ca25fa22c/Screenshot+2021-01-14+at+22.55.20.jpg?format=300w");
height: 40px;
width: 210px;
background-size: cover;
background-position: center;

}
.logo2 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/1610654278536-PVZCUHZS2YXQZPHQ67RV/Screenshot+2021-01-14+at+22.55.20.png?format=300w");
    height: 40px;
    width: 210px;
    background-size: cover;
    background-position: center;

}
.logo3 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/1610654337133-JYLFMZJQ9UY80ZY87KWQ/Screenshot+2021-01-14+at+22.55.20.png?format=300w");
    height: 40px;
    width: 210px;
    background-size: cover;
    background-position: center;
}
.logo4 {

    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/1610655202397-MRWC8YPDW5D4OGPT207M/Screenshot+2021-01-14+at+22.55.20.png?format=300w");
    height: 40px;
    width: 210px;
    background-size: cover;
    background-position: center;
   
}

.solid {
    color: rgba(165, 42, 42, 0.089);
    margin-top: 38px;
    width: 58.9%;
    height: 0.1px;
    margin-left: 295px;
}

#logos-divider{


        color: rgba(218, 20, 20, 0.096);
       
        height: 6px;
        padding-top: 18px;
        margin-left: 310px;
    
}


@media screen and (max-width: 768px) { 

    .logos{
        display: none;
    }
    
        
    }