.card6 h2 {
    color: #424242;
    font-family: Sofia-Light;
    font-weight: 500;
    font-size: 21px;
    max-width: 692px;
    line-height: 25.5px;
}

.card6 span {
    font-weight: 700;
    color: rgb(34, 34, 34);
}

.card6 p {
    margin-right: 285px;
    margin-top: 10px;
    color: rgba(34, 34, 34, 0.799);
    font-family: Sofia-Light;
    font-weight: 400;
    font-size: 15px;
    max-width: 644px;
    line-height: 16.5px;
}



@media screen and (max-width: 601px) {
.card6 h2 {
    color: #424242;
    font-family: Sofia-Light;
    font-weight: 500;
    font-size: 21px;
    max-width: 692px;
    line-height: 25.5px;
    max-width: 97%;
}

.card6 span {
    font-weight: 700;
    color: rgb(34, 34, 34);
}

.card6 p {
    margin-right: 0px;
    margin-top: 10px;
    color: rgba(34, 34, 34, 0.799);
    font-family: Sofia-Light;
    font-weight: 400;
    font-size: 15px;
    max-width: 97%;
    line-height: 16.5px;
   
}

.card6 .yes-no-button {

    margin-left: 15%;
}
}