.Hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text{
    flex-direction: column;
    position: relative;
    left: 20px;
   

    
}


.girl {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/72c41a68-4f46-4854-8784-5cc89562c243/Main.jpg");
     position: relative;
     right: 65px;
    height: 715px;
    width: 750px;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}

#recheck {
    letter-spacing: -2px;

 
    font-weight: 500;
    font-size: 80px;
    padding-bottom: 35px;
    z-index: 1;
    max-width: 360px;
    line-height: 80px;
}



#every {
    font-family: 'Sofia Pro';
  
  
   
   
    padding-bottom: 15px;
    max-width: 470px;
    font-size: 18px;
    color: #444444;
}

#we {
    font-family: 'Sofia Pro';
  
 
    font-weight: 500;
    padding-bottom: 15px;
    max-width: 470px;
    font-size: 18px;
    color: #444444;
}

.button-2 {
    width: 235px;
    height: 48px;

 
   
    border-radius: 25px;
    justify-content: center;
    align-items: center;
  
    text-decoration: none;
    display: flex;
   
    background-color: #142b6f;
    color: white;
   
    font-family: 'Sofia Pro';
   
   }

.button-2:hover {
    background-color: rgb(255, 208, 0);
    color: #142b6f;
}

.buttonText-2 {
   margin: 13px 30px;
    font-size: 16px;
    font-weight: 500;
   
}

.line-2 {
    font-weight: 200;
 font-size: 25px;
 margin-top: 0px;
}

.arrow-2 {
    margin: 10px 32px;
    font-size: 15px;
}

.heroImage {
    display: none;
}


@media screen and (max-width: 768px) { 

.Hero{
    background-color: white;
    height: 600px;
    z-index: 999999;

}

    .main-text{
        z-index: 4;
        left: 12px;
       
    }

.girl{
    display: none;
}

#recheck{
    z-index: 4;
    font-size: 47.5px;
    line-height: 46px;
}

#every {
    z-index: 4;
    font-family: 'Sofia Pro';
    padding-bottom: 15px;
    max-width: 350px;
    font-size: 18px;
    color: #000000;
}
    
#we {
    z-index: 4;
    font-family: 'Sofia Pro';
    font-weight: 500;
    padding-bottom: 15px;
    max-width: 350px;
    font-size: 18px;
    color: #000000;
    
  
}

.button-2 {
    z-index: 4;
    position: relative;
    top: 20px;
}

.heroImage{
    z-index: 1;
    display: flex;
 
    position: absolute;
    height: 450px;
    width: 200;
    top: 120px;
    left: 225px;
    background-color: red;
}
 
  
  
   

    
}