.footer{
    margin-top: 125px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 470px;
}
  

.footer-main {

    width: 85%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  
}

.footer-main-left{
    top: -70px;
    position: relative;
    max-width: 412px;
    display: flex;
    flex-direction: column;
}

.footer-main-left-image{
    position: relative;
    height: 460px;
    width: 450px;

}

.footer-main-right{
    position: relative;
    right: 120px;
    max-width: 490px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    
}



.footer-main-right ul{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
   
}

.footer-main-right ul:nth-child(2){

    margin-left: 120px;
}


.footer-main-right ul:nth-child(3){
    top: 45px;
    position: relative;
   
   
}


.footer-main-right ul:nth-child(4){
    top: 5px;
    position: relative;
  
    margin-left: 134px;
    margin-bottom: 180px;
}

   


.footer-main-right li:nth-child(1) {
 
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: #0A2470;
    font-weight: 700;
    }


.footer-main-right li {
padding: 9px;
font-size: 16px;
font-family: 'Sofia Pro';
display: inline-flex;
}

