.forward-button {
    top: 92%;
  
    background-color: rgba(20, 43, 111, 1);
    color: #F2EBEB;
    width: 84px;
    height: 40px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    
}

.forward-icon {
    font-size: 25px;
    margin-right: 0px;
    color: white;
}
.button-text{
    font-size: 17px;
    font-family: Sofia-Regular;
}

@media screen and (max-width: 963px) {
    
    .forward-button{
       
        top: 88.5%  !important;
        left: 19% !important;
        background-color: rgb(20, 43, 111);
        color: rgb(242, 235, 235);
        width: 75% !important;
        height: 40px;
        border-radius: 25px;
        text-decoration: none;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
   
   
    }



}


