.major-plans {
    margin-top: 55px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 504px;
  


}

.major-plans-main {

    width: 92%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.major-plans-main-items{
  
    flex-direction: column;
    margin-left: 45px;
    
}

.major-plans-main-telephone {

background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/f21efe19-c034-46f7-85da-51ee33f8c7b2/insurance-phone-2.f8d9f12f.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height: 521px;
width: 285px;

transition: transform 350ms ease-in;
opacity: 0;

}

.major-plans-main-telephon:hover{
    transform: translateX(25px);
    animation: fadeq-in 350ms forwards;
}


.major-plans-main-telephone-fadein{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/f21efe19-c034-46f7-85da-51ee33f8c7b2/insurance-phone-2.f8d9f12f.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 521px;
    width: 285px;
    transition: transform 600ms ease;
    opacity: 0;
    transform: translateX(25px);
    animation: fadeq-in 2s forwards;
    
}


@keyframes fadeq-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }



.major-plans-main-items-header{

    gap: 25px;
}

.major-plans-main-items-header p {
 display: inline;
font-size: 15px;
color: #142B6F;
font-family: 'Sofia Pro';
background-color: #85FFC7;
padding: 7px 31px;
border-radius: 50px;
}


.major-plans-main-items-header h2 {
    margin-top: 21px;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    font-family: Avenir-Roman;;
}





.major-plans-main-items-hospitals{
 margin-left: -105px;
 margin-top: 15px;
  max-height: 400px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  


}


.major-plans-main-items-hospitals ul {
   
    list-style: none;
    

    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.major-plans-main-items-hospitals ul li {
    margin-top: 20px;
    margin-left: 105px;
    font-size: 18px;
     font-family: 'Sofia Pro'; 
     color: #554455;
    cursor: pointer;
   
    display: inline-flex;
  
 
    
}


.major-plans-main-items-footer{
    margin-top: 25px;
}

.major-plans-main-items-footer p:nth-child(1) {
    font-size: 22px;
    font-family: 'Sofia Pro';
    color: black;
    font-weight: 700;
   
}

.major-plans-main-items-footer p:nth-child(2) {
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: black;

    
}


.button7 {
    margin-top: 26px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #142B6F;
    padding: 4px;
    padding-left: 20px;
    color: white;
    width: 230px;
    height: 42px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
   
    
}

.button7:hover {
    background-color: rgb(255, 208, 0);
    color: rgb(8, 8, 141);
}

.buttonText7 {
    font-family: 'Sofia Pro';
  
    font-size: 16px;
    font-weight: 500;
   
}

.line7 {
  
    font-size: 22px;
    width: 3px;
    
}

.arrow7 {
 
    

    font-size: 15.5px;
}




    

  


